# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.vspscc
*.vssscc

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebugPublic/
[Rr]eleases/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet
*.nupkg
*.snupkg
.nuget/
nuget.exe
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Publish
publish/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# dotnet
*.DotSettings.user
