/* 에버포레스트 볼드체 색상 및 굵기 변경 */
strong, .cm-strong {
    color: #e69875 !important; 
    font-weight: 700 !important;
}

/* 에버포레스트 기울임체 색상 변경 */
em, .cm-em {
    color: #7fbbb3 !important; /* 기울임체 색상 (아쿠아 블루) */
    font-style: italic !important;
}